{% extends 'news/default.html' %}
{% load widget_tweaks %}

{% block title %}Contact Us{% endblock %}

{% block content %}
    <h1 class="my-3 my-lg-4">Feedback Form</h1>
    <form method="post" action="{% url 'contactus' %}" class="mx-auto" style="max-width: 600px">
        {% for field in form %}
            {{ field|add_class:"form-control shadow mb-4"}}
        {% endfor %}
        {% csrf_token %}
        <button class="btn btn-secondary my-3" style="width: 150px" type="submit">Send</button>
    </form>
{% endblock %}